.body{
    margin:0;
    padding:0;
    background:#fff;
    color: #fff;
}
.banner {
    height:100vh;
    width:100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url("../img/banner.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.banner .card {
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.banner .info{
    color:#fff;
}